root { 
    display: block;
}
html { 
    height: 100% 
}

body {
    margin:0; padding:0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    background: white;
    width: 100%;
    min-width:750px;
    max-width:1220px;
}

h1.mainTitle{
    color: red;
}

header{
    text-align: center;
}

nav{
    text-align: left;
    float: left;
}

article{
    float: right;
}

caption{
    text-align: center;
}

img{
    width: 200px;
    height: 200px;
}