root {
  display: block;
}
html {
  height: 100%;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: medium;
  background: white;
  width: 100%;
  margin: 0;
  padding: 0;
}

h1.mainTitle{
  color: red;
}

header{
  text-align: center;
  width: 100%;
  background: #FFD700;
}

nav.mainNav{
  text-align: left;
  float: left;
  width: 20%;
  background: aquamarine;
}

article{
  padding: 1em;
  border: 2px solid black;
  float: left;
  text-align: center;
  width: 54%;
}

aside{
  float: right;
  text-align: center;
  width: 20%;
}

footer{
  clear: both;
  margin:2em;
  padding:1em;
  width: 100%;
}

caption{
  text-align: center;
}

img{
  width: 10em;
  height: 10em;
}
